.footer .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.footer {
    padding-bottom: 5rem;
}

.footer-title {
    padding-bottom: 1rem;
}

.footer .container > p {
    width: 700px ;
    text-align: center;
}


.footer-button {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px 50px;
    border: none;
}