.header-bot-title {
    font-size: 3.5rem;
    width: 600px;
}

.header-bot-screen .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.right-side-img {
  position: relative;
  transition: all .3s linear;
}

.header-bot-img {
    transition: all .5s linear;
    max-width: 500px;
    height: auto;
}

.header-bot-description {
    width: 500px;
    padding-bottom: 2rem;
}

.animate-border {
    width:80px;
    height: 80px;
    position: relative;
    cursor: pointer;
 /* Чтобы скрыть часть псевдоэлемента */
  }

  
  
  .animate-border::before {
    content: "";
    position: absolute;
    top: -2px; /* Сдвигаем на 2 пикселя вверх, чтобы скрыть границу внутри элемента */
    left: -2px; /* Сдвигаем на 2 пикселя влево */
    right: -2px; /* Сдвигаем на 2 пикселя вправо */
    bottom: -2px; /* Сдвигаем на 2 пикселя вниз */
    border: 2px dashed #ffffff; /* Здесь 2px - ширина линии, dashed - стиль пунктира, #000 - цвет */
    border-radius: 50%; /* Для создания круглой формы границы */
    animation: rotateBorder 9s linear infinite;
  }
  
  .inner-text {
    color: white;
    cursor: pointer;
    position: absolute;
    top: 1.7rem;
    left: 0.8rem;
  }

.button-register > button {
  padding: 5px 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 7px;
  color: white;
  transition: all .3s linear;
}

.button-register > button:hover { 
  background-color: #ffffff;
  color: rgb(51, 51, 82);
}

  @keyframes rotateBorder {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.site-name {
    text-decoration: underline;
}

